@charset "UTF-8";

:root {
	--background-color: #000000;
	--text-color: #FFFFFF;
}

* {
	margin: 0;
	padding: 0;
	border: border-box;
}

body {
	font-family: 'Robots', Sans-Serif;
	height: 100dvh;
	background-color: var(--background-color);
	color: var(--text-color);
}

h1 {
	padding: 10px;
	font-size: 2rem;
	text-align: center;
}

h2 {
	margin: 0 15px;
	padding: 10px;
	font-variant: small-caps;
	border-bottom: 1px solid #757575;
}

p {
	padding: 10px;
	font-size: 1rem;
	text-align: justify;
	text-indent: 15px;
}

.resources-lists {
	padding: 10px;
}

img {
	width: 50px;
}

ul {
	margin-top: 20px;
	list-style-position: inside;
}

ul li {
	font-size: 20px;
}

a {
	font-weight: bold;
	text-decoration: none;
	color: var(--text-color);
}

a:hover {
	text-decoration: underline;
}