:root {
	/* Cor de texto */
	--primary-text-color: #000000;
	--secondary-text-color: #504647;
	
	/* Cores de fundo */
	--primary-background-color: #FFFFFF;
	--secondary-background-color: #EFEFEF;
	--tertiary-background-color: #E6E9EE;
	
	/* Cores de destaque */
	--primary-accent-color: #C41E1E;
	--secondary-accent-color: #9EA023;
	
	/* Cores de transparência */
	--primary-transparent-color: rgba(0, 0, 0, 0.3);
	--secondary-transparent-color: rgba(0, 0, 0, 0.18);
	
	/* Cor ao passar o cursor */
	--primary-hover-color: #DFDFDF;
	
	/* Cor do botão ao passar o cursor */
	--primary-hover-button-color: #DE3838;
	
	/* Controle deslizante */
	--active-track-color: #FF0000;
	--inactive-track-color: #757575;
	--slider-thumb-size: 15px;
	
	/* Cores personalizadas para certas situações */
	--active-button-border-blue-color: #0071E3
	
	/* Cores de mensagens temporárias */
	--success-text-color: #3BD14B;
	--success-background-color: #3BD14B;
	
	--error-text-color: #E83636;
	--error-background-color: #E83636;
	
	/* Família de fontes */
	--primary-font-family: Arial, Helvetica, sans-serif;
	
	/* Transições */
	--color-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
	
	/* Cores do sistema operacional Android */
	--android-primary-color: #C5EBD6;
	--android-secondary-color: #83E1AD;
	--android-tertiary-color: #3DDC84;
	--android-quaternary-color: #2FA866;
	--android-quinary-color: #1A5C37;
	--android-scenario-color: #063D1E;
}

[data-theme="dark"] { /* Alteraçôes ao mudar para o modo escuro */
	/* Cor de texto */
	--primary-text-color: #FFFFFF;
	--secondary-text-color: #D3C3C4;
	
	/* Cores de fundo */
	--primary-background-color: #000000;
	--secondary-background-color: #252525;
	--tertiary-background-color: #141B23;
	
	/* Cores de destaque */
	--primary-accent-color: #FF0000;
	--secondary-accent-color: #FFF900;
	
	/* Cores de transparência */
	--primary-transparent-color: rgba(255, 255, 255, 0.3);
	--secondary-transparent-color: rgba(255, 255, 255, 0.18);
	
	/* Cor ao passar o cursor */
	--primary-hover-color: #343434;
	
	/* Cor do botão ao passar o cursor */
	--primary-hover-button-color: #EE5C52;
	
	/* Cores do controle deslizante */
	--active-track-color: #CA0030;
	--inactive-track-color: #A0A0A0;
	
	/* Cores para representar sucesso e erro */
	--success-text-color: #2D8A37;
	--success-background-color: #2D8A37;
	
	--error-text-color: #9A1A1A;
	--error-background-color: #9A1A1A;
}