:root {
	/* Cor de texto */
	--primary-text-color: #000000;
	--secondary-text-color: #808080;
	
	/* Cores de fundo */
	--primary-background-color: #FFFFFF;
	--secondary-background-color: #EFEFEF;
	
	/* Cores de destaque */
	--primary-accent-color: #FF0000;
	--secondary-accent-color: #FFF900;
	--tertiary-accent-color: #000000;
	
	/* Cor de borda transparente */
	--primary-transparent-border-color: rgba(0, 0, 0, 0.3);
	--secondary-transparent-border-color: rgba(0, 0, 0, 0.18);
	
	/* Cor ao passar o cursor */
	--primary-hover-color: #DFDFDF;
	
	/* Cor do botão ao passar o cursor */
	--primary-hover-button-color: #BE2C22;
	
	/* Cores do controle deslizante */
	--range-progress-color: #FF0000;
	--trick-color: #757575;
	
	/* Cores personalizadas para certas situações */
	--active-button-border-blue-color: #0071E3;
	
	/* Família de fontes */
	--primary-font-family: Arial, Helvetica, sans-serif;
	
	/* Cores do sistema operacional Android */
	--android-primary-color: #C5EBD6;
	--android-secondary-color: #83E1AD;
	--android-tertiary-color: #3DDC84;
	--android-quaternary-color: #2FA866;
	--android-quinary-color: #1A5C37;
	--android-scenario-color: #063D1E;
}

[data-theme="dark"] { /* Alteraçôes ao mudar para o modo escuro */
	/* Cor de texto */
	--primary-text-color: #FFFFFF;
	--secondary-text-color: #808080;
	
	/* Cores de fundo */
	--primary-background-color: #000000;
	--secondary-background-color: #777777;
	
	/* Cores de destaque */
	--primary-accent-color: #C41E1E;
	--secondary-accent-color: #DFDB1C;
	--tertiary-accent-color: #35352C;
	
	/* Cor de borda transparente */
	--primary-transparent-border-color: rgba(255, 255, 255, 0.3);
	--secondary-transparent-border-color: rgba(255, 255, 255, 0.18);
	
	/* Cor ao passar o cursor */
	--primary-hover-color: #343434;
	
	/* Cor do botão ao passar o cursor */
	--primary-hover-button-color: #EE5C52;
	
	/* Cores do controle deslizante */
	--range-progress-color: #CA0030;
	--trick-color: #A0A0A0;
}