@charset 'UTF-8';

*  {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100dvh;
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--main-background);
	color: var(--text);
}

header {
	padding: 10px;
	width: 100%;
	height: 40px;
	position: fixed;
	top: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: var(--highlight);
	color: var(--text);
	z-index: 100;
}

header ul {
	list-style: none;
	display: flex;
	gap: 10px;
}

header nav a {
	padding: 12px 15px;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--text);
	border-radius: 5px;
	transition: background-color 0.5s, color 0.5s;
}

header nav a:hover {
	background-color: var(--reverse-hightlight);
	color: var(--highlight);
}

header nav .icons,
article h2 .icons,
#theme-color-icon {
	font-display: swap;
}

main {
	margin-top: 60px;
	display: grid;
	grid-template-columns: auto 90vw auto;
	gap: 20px;
}

#record,
#details {
	grid-column: 2;
}

#record {
	padding: 20px;
	background-color: var(--card-background);
	border-radius: 8px;
}

#record .photo {
	margin: auto;
	display: block;
	aspect-ratio: 1/1;
	object-fit: cover;
	border-radius: 50%;
	overflow: hidden;
}

#record h1 {
	margin: 15px 0;
	font-size: 1.5em;
	text-align: left;
	color: var(--highlight);
}

#occupation {
	margin-bottom: 10px;
	font-size: 1em;
	font-weight: bolder;
	text-align: center;
	color: #cfcd4b;
}

#social {
	margin-top: 15px;
	width: 100%;
	font-size: 1.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

#social a {
	text-decoration: none;
	color: var(--highlight);
}

article {
	margin-bottom: 20px;
	padding: 20px;
	background-color: var(--card-background);
	border-radius: 8px;
}

article h2 {
	margin-bottom: 20px;
	color: var(--highlight);
}

#skill-container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 30px;
}

#skill-container .item {
	color: var(--main-color);
}

#skill-container .info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#skill-container .nome {
	font-weight: bold;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}

#skill-container .porcent {
	font-weight: bold;
}

#skill-container .barra {
	margin-top: 5px;
	width: 100%;
	height: 8px;
	background-color: var(--main-background);
	border-radius: 4px;
}

#skill-container .barra .progresso {
	height: 100%;
	background-color: var(--main-color);
	border-radius: 4px;
}

#tool-container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
}

#tool-container .item {
	display: flex;
	flex-direction: column;
	border: 1px solid transparent;
	border-radius: 4px;
	transition: border-color 0.3s ease;
}

#tool-container .item summary {
	padding: 10px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--main-color);
	border-bottom: 1px solid transparent;
	cursor: pointer;
	transition: border-bottom 0.3s ease;
}

#tool-container .item summary .title {
	font-weight: bold;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}

#tool-container .item summary .icon {
	border-radius: 50%;
}

#tool-container .item summary .triangle {
	border-top: 5px solid var(--main-color);
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	transition: transform 0.3s ease;
}

#tool-container .item .content-box {
	padding: 10px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 5px;
}

#tool-container .item .content {
	color: var(--text);
}

#tool-container .item[open] {
	border-color: var(--main-color);
}

#tool-container .item[open] summary {
	border-bottom-color: var(--main-color);
}

#tool-container .item[open] summary .triangle {
	transform: rotate(180deg);
}

#project-container {
	display: flex;
	flex-direction: column-reverse;
	gap: 20px;
}

#project-container .project {
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	background-color: var(--main-background);
	border-top: 1.5px solid var(--project-color);
	border-right: 1.5px solid var(--project-color);
	border-bottom: 1.5px solid var(--project-color);
	border-left: 5px solid var(--project-color);
	border-radius: 8px;
}

#project-container .photo {
	width: 100%;
	aspect-ratio: 16/9;
	object-fit: cover;
	border-radius: 8px;
	overflow: hidden;
}

#project-container summary {
	font-weight: bold;
	color: var(--main-color);
	cursor: pointer;
}

@media screen and (min-width: 768px) {
	main {
		margin-top: 60px;
		grid-template-columns: auto 300px 1fr auto;
	}
	
	#record {
		height: fit-content;
		position: sticky;
		top: 60px;
		grid-column: 2 / 3;
	}
	
	#details {
		grid-column: 3 / 4;
	}
	
	#skill-container {
		grid-template-columns: 1fr 1fr;
	}
	
	#tool-container {
		grid-template-columns: 1fr 1fr;
	}
	
	#project-container .project {
		flex-direction: row-reverse;
		justify-content: space-between;
	}
	
	#project-container .project-info {
		max-width: 70%;
	}
	
	#project-container a {
		max-width: 30%;
		max-height: 200px;
	}
	
	#project-container .photo {
		width: 100%;
		height: 100%;
		aspect-ratio: 1/1;
	}
}